---
Language: Cpp
Standard: Latest
BasedOnStyle: LLVM

UseTab: ForIndentation
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4

AccessModifierOffset: -4
IndentAccessModifiers: false

ColumnLimit: 100
PointerAlignment: Left
DerivePointerAlignment: false
ReferenceAlignment: Pointer

BreakBeforeBraces: Attach
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline

IndentCaseLabels: false
NamespaceIndentation: None
FixNamespaceComments: true
IndentPPDirectives: None

SortIncludes: CaseSensitive
IncludeBlocks: Preserve
InsertNewlineAtEOF: true
SeparateDefinitionBlocks: Leave
